{% extends 'template.html' %}

{% block content %}

{% set count = namespace(value=0) %}
{% set ccount = namespace(value=0) %}
<table class="'table table-bordered">
    <thead>
    <tr>
        <td>번호</td>
        <td>사진</td>
        <td>관광지 이름</td>
        <td>주변 상점 정보</td>
        <td>가격</td>
    </tr>
    </thead>
    <tbody>
    {% for travel in travels %}

    <tr>
        <td>{{loop.index}}</td>
        <td><img src="{{travel['firstimage']}}" alt="사진없음" width="390" height="260"></td>
        <td>{{travel['title']}}<br>주소 : {{travel['addr1']}}</td>
        {% set ccount = namespace(value=0) %}
        <td>{% for bus in z[count.value] %}


            <br><a href="https://www.google.com/search?q={{z[count.value][ccount.value]}}">{{z[count.value][ccount.value]}}</a><br>주소 : {{v[count.value][ccount.value]}}<br>
            {% set ccount.value = ccount.value + 1 %}


            {% endfor%}
            {% set count.value = count.value + 1 %}
        </td>
        <td></td>

    </tr>


    {% endfor %}
    </tbody>
</table>
{% endblock %}

